.swiper-full{
    overflow: visible;
}

.card{
    --margin-out: -32px;
    --line-out: -14px;
    height: 80vh;
    color: var(--color-black);
    
    .card_media{
        position: relative;
        height: 100%;
        margin: 32px;
        

       h3{
        font-weight: 900;
        text-transform: uppercase;
        position: absolute;
        z-index: 5;
        }

        .title-up{
            left: var(--margin-out);
            top: var(--margin-out);
        }

        .title-down{
            right: var(--margin-out);
            bottom: var(--margin-out);
        } 

        .imgWrapper{
            overflow: hidden;
            height: 100%;
        }

        img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all 0.5s ease-in;
        }

        .line-vertical{
            width: 6px;
            height: 250px;
            background-color: var(--color-white-dark);
            position: absolute;
        }

        .line-horizontal{
            width: 250px;
            height: 6px;
            background-color: var(--color-white-dark);
            position: absolute;
        } 

        .line-up{
            top: var(--line-out);
            right: var(--line-out);
        }

        .line-right{
            top: var(--line-out);
            right: var(--line-out);
        }

        .line-down{
            bottom: var(--line-out);
            left: var(--line-out);
        }

        .line-left{
            bottom: var(--line-out);
            left: var(--line-out);
        }
    }

    .card_content{
        text-align: right;
        margin-top: 24px;
    }

    &:hover{
        color: var(--color-black);

        img{
            transform: scale(110%);
        }

        .prize img{
            transform: scale(100%);
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        height: 40vh;

        .line-horizontal{
            width: 150px !important;
        }

        .line-vertical{
            height: 150px !important;
        }
    }
}

.prize{
    --size: 200px;

    height: var(--size);
    width: var(--size);
    position: absolute;
    z-index: 5;
    right: 5%;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        position: relative;
        z-index: 3;
        font-size: typo(28px);
        line-height: 100%;
        font-weight: 500;
    }

    img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        animation: rotatePrize infinite 20s linear;
    }

    @media screen and (max-width: $breakpoint-lg){
        --size: 150px;
        top: 8%;

        span{
            font-size: typo(20px);
        }
    }

    @media screen and (max-width: $breakpoint-md){
        top: 7%;
    }

    @media screen and (max-width: $breakpoint-sm){
        --size: 100px;
        top: 13%;
        right: 6%;

        span{
            font-size: typo(15px);
        }
    }

    @media screen and (max-width: 650px){
        right: 7%;
    }

    @media screen and (max-width: 530px){
        right: 8%;
    }

    @media screen and (max-width: $breakpoint-xs){
        --size: 80px;
        top: 13%;
        right: 9%;

        span{
            font-size: typo(12px);
        }
    }

    @media screen and (max-width: 400px){
        right: 10%;
    }
}

@keyframes rotatePrize{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.projects{
    overflow: hidden;
}

.swiper-shellSound{
    .swiper-slide{
        position: relative;
        cursor: pointer;

        img{
            width: 100%;
        }

        p{
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 32px;
            color: var(--color-white);
        }
    }

    @media screen and (max-width: $breakpoint-md){
        .swiper-slide p{
            position: static;
            color: var(--color-black);
            text-align: right;
            padding: 0;
        }
    }
}

.custom-nav{
    display: flex;
    gap: 16px;

    button{
        background-color: unset;
        border: none;
        transition: all 0.3s ease-in;
        color: var(--color-black);

        &:hover{
            color: var(--color-accent);
        }
    }

    .swiper-button-disabled{
        color: var(--color-white-dark);

        &:hover{
            color: var(--color-white-dark);
        }
    }
}

.custom-nav-gridProjects{
    margin-top: 100px;
    display: block;
}