.footer{
    background-color: var(--color-black);
    padding: 64px 0;

    .wrapper{
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }

    .line{
        background-color: var(--color-white);
        height: 3px;
        width: 50%;
    }

    .copyright{
        color: var(--color-white);
        font-size: typo(15px, 20px);
    }

    @media screen and (max-width: $breakpoint-xs){
        .line{
            width: 75%;
        }
    }
}

.nav__footer{
    color: var(--color-white);

    ul{
        list-style: none;
        display: flex;
        gap: 64px;

        li{
            font-size: typo(24px, 32px);
            text-transform: uppercase;
            font-weight: 600;
        }
    }

    @media screen and (max-width: $breakpoint-sm){
        ul{
            flex-direction: column;
            gap: 32px;
        }
    }
}