.hero{
    height: 88vh;
    position: relative;
    margin-top: 100px;

    .media{
        position: absolute;
        right: 0;
        top: 0;
    }

    .content{
        span{
            font-weight: 900;
            font-size: typo(53px, 180px);
            color: var(--color-white-dark);
        }
        
        .line{
            height: 2px;
            width: 20%;
            background-color: var(--color-black);
        }

        p{
            font-weight: 300;
            font-size: typo(20px, 40px);
            
        }
    }
}

.media{
    position: relative;

    img{
        display: block;
    }

   .line-vertical{
        width: 6px;
        height: 250px;
        background-color: var(--color-white-dark);
        position: absolute;
        top: -14px;
        left: -14px;
    }

    .line-horizontal{
        width: 250px;
        height: 6px;
        background-color: var(--color-white-dark);
        position: absolute;
        bottom: -14px;
        right: 0;
    } 

    .line-up{
        top: -14px;
        left: -14px;
    }
}


