.hero{
    height: 88vh;
    position: relative;
    margin-top: 100px;

    .media{
        position: absolute;
        right: 0;
        top: 0;
    }

    .content{
        span{
            font-weight: 900;
            font-size: typo(53px, 180px);
            color: var(--color-white-dark);
            min-height: 1em;
        }
        
        .line{
            height: 2px;
            width: 20%;
            background-color: var(--color-black);
        }

        p{
            font-weight: 300;
            font-size: typo(20px, 40px);
            
        }
    }
}

.greetings{
    display: flex;
    align-items: center;
    min-height: 288px;
}

.typeLine{
    height: 200px;
    width: 6px;
    background-color: var(--color-white-dark);
    display: none;
}

.typeLine-is-active{
    display: block;
}

.media{
    position: relative;
    padding: 16px 0 16px 16px;
    width: 35%;

    img{
        display: block;
    }

   .line-vertical{
        width: 6px;
        height: 50%;
        background-color: var(--color-white-dark);
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.5s ease-in;
    }

    .line-horizontal{
        width: 50%;
        height: 6px;
        background-color: var(--color-white-dark);
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 0.5s ease-in;
    } 

    .line-up{
        top: 0;
        left: 0;
        transition: all 0.5s ease-in;
    }

    .line-up-reverse{
        transform: translateX(100%);
    }

    .line-vertical-reverse{
        transform: translateY(100%);
    }

    .line-down-reverse{
        transform: translateX(-100%);
    }
}

.hero_projects{
    margin-bottom: 64px;
    height: 100%;
    margin-top: 100px;
    padding: 0;

    .wrapper{
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    .heading{
        font-size: typo(32px);
        font-weight: 700;
    }

    .up{
        display: flex;
    }

    .down{
        display: flex;
        justify-content: space-between;

        .icon{
            height: 4rem;
            width: 4rem;
        }
    }

    .media{
        width: 50%;

        .zoom{
            overflow: hidden;

            img{
                transform: scale(1.4);
                object-fit: cover;
            }
        }
    }

    .line{
        height: 2px;
        width: 255px;
        background-color: var(--color-black);
    }

    .description{
        font-size: typo(36px);
        font-weight: 700;
    }

    .infos{
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 45%;
        margin: 0;

        h1{
            color: var(--color-black);
            font-size: typo(96px);
        }
    }

    .credits{
        display: flex;
        gap: 32px;

        .credit{
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-size: typo(16px, 24px);
        }

        a, .me{
            font-weight: 700;
        }

        .me{
            color: var(--color-primary);
        }
    }

    .logiciels .icon{
        margin-right: 16px;
    }
}
