.kit{
    position: relative;
    overflow: hidden;

    .outWrapper{
        text-align: right;
    }

    .wrapper{
        margin-top: 128px;

        .inWrapper{
            display: none;
        }
    }

    .deco{
        --star-size: 43.75rem;

        width: var(--star-size);
        height: var(--star-size);
        color: var(--color-white-dark);
        position: absolute;
        z-index: 0;
        top: 25%;
        left: calc(var(--star-size) / 2 *-1);
    }

    @media screen and (max-width: 1700px){
        .deco{
            display: none;
        }
    }

    @media screen and (max-width: $breakpoint-md){
        .outWrapper{
            display: none;
        }

        .wrapper{
            margin-top: 0;

            .inWrapper{
                display: block;
                margin-bottom: 96px;
            }
        }
    }

    @media screen and (max-width: 650px){
        .deco{
            --star-size: 30rem;

            display: block;
            left: auto;
            right: calc(var(--star-size) / 2 *-1);
            top: 58%;
        }
    }

    @media screen and (max-width: $breakpoint-xs){
        .deco{
            --star-size: 19rem;
            top: 72%;
        }
    }
}

.grid-3{
    margin-left: 13.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px;

    p{
        grid-area: 1 / 1 / span 1 / span 2;
    }

    .bottom{
        color: var(--color-primary);
        margin-bottom: 24px;
    }

    ul{
        list-style: none;
        display: flex;
        gap: 48px;
        padding: 0;
        margin: 0;
    }

    .skills ul{
        flex-direction: column;
        gap: 8px;
    }

    .bigStar{
        --star-size: 15.6rem;

        width: var(--star-size);
        height: var(--star-size);
        color: var(--color-white-dark);
        margin: 0 auto;
    }

    @media screen and (max-width: 1700px){
        margin: 0;
    }

    @media screen and (max-width: $breakpoint-lg){
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 650px){
        display: flex;
        flex-direction: column;
        gap: 96px;

        .bigStar{
            display: none;
        }

        ul{
            gap: 16px;
        }
    }
}