.final{
    background-color: var(--color-black);
    position: relative;
    overflow: hidden;

    .title{
        color: var(--color-black-light);
    }

    img{
        width: 100%;
        transform: scale(120%);
    }

    .deco{
        width: 20rem;
        height: 20rem;
        color: var(--color-black-light);
        position: absolute;
        top: 20%;
        left: 25%;
    }

    .deco-big{
        width: 30rem;
        height: 30rem;
        color: var(--color-black-light);
        position: absolute;
        top: 35%;
        right: calc(30rem / 2 * -1);
    }
}

.final-webjam{
    .deco{
        left: 34%;
        top: 10%;
    }
}

.wireframe{
    background-color: var(--color-black);
    color: var(--color-black-light);
    position: relative;
    overflow: hidden;

    .deco{
        --star-size: 32.5rem;

        height: var(--star-size);
        width: var(--star-size);
        position: absolute;
        top: 40%;
        right: calc(var(--star-size) / 2 *-1);
    }

    .title{
        position: static;
    }

    .wrapper{
        position: relative;

        .wf{
            margin-top: 64px;
            width: 100%;
            transform: scale(1.1);
        }

        .wf_mobile{
            margin-top: 64px;
            display: none;
        }
    }

    @media screen and (max-width: 1200px){
        .deco{
            --star-size: 19rem;
            top: 60%;
        }
    }

    @media screen and (max-width: $breakpoint-sm){
        .deco{
            display: none;
        }

        .wrapper{
            .wf{
                display: none;
            }

            .wf_mobile{
                display: block;
            }
        }
    }
}

.wireframe-bsc{
    padding: 0;

    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: end;
        gap: 16px;
        
        img{
            display: block;
            width: 100%;
        }
    }
}