.design{
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
    padding: 0;
    overflow: hidden;

    .title{
        color: var(--color-black-light);
    }

    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 128px;
        align-items: end;

        h3{
            color: var(--color-primary);
        }

        img{
            display: block;
            width: 100%;
        }
    }

    .left-container{
        display: flex;
        flex-direction: column;
        gap: 64px;
        margin-bottom: 64px;
    }
    
    .colors{
        .top{
            justify-content: start;
            gap: 32px;
        } 

        .black{
            background-color: #0D141C;
        }

        .white{
            background-color: #F2F5F8;
        }

        .blue-white{
            background-color: #D8E0E9;
            color: var(--color-black);
        }

        .blue{
            background-color: #41628B;
        }
    }

    .swiper-wf{
        width: 100%;
        height: 100%;
        display: none;

        h3{
            margin-bottom: 32px;
        }

        .custom-nav{
            margin-top: 32px;

            button{
                color: var(--color-white);
            }

            .swiper-button-disabled{
                color: var(--color-black-light);
            }
        }
    }


    @media screen and (max-width: $breakpoint-lg){
        .wrapper{
            display: block;
            padding: 64px 0;
            
            .right-container{
                display: none;
            }

            .wf{
                display: none;
            }

            .swiper-wf{
                display: block;
            }

            .left-container{
                margin: 0;
            }
        }
        
    }

    @media screen and (max-width: 680px){
        .title{
            position: static;
            padding-top: 64px;
        }
    }

    @media screen and (max-width: 550px){
        .star{
            display: none !important;
        }

        .bebas, .museo{
            align-items: start !important;

            .letter-white{
                order: 1;
            }

            .letter-black{
                order: 2;
            }

            .letter-bold{
                order: 3;
            }

            .letters{
                text-align: left !important;
            }
        }

        .colors .bottom{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 75%;

            .color{
                aspect-ratio: 1 / 1;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.design-webjam{
    .left-container{
        margin-top: 64px;
    }

    .typos{
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 100%;

        .bebas{
            font-family: "Bebas Neue", sans-serif;
            display: flex;
            flex-direction: column;
            align-items: end;
            align-self: end;
            font-size: typo(48px,64px);
            gap: 8px;

            .letters{
                text-align: right;
                font-size: typo(24px, 32px);
            }

            .font-weight{
                line-height: 90%;
            }
        }

        .museo{
            font-family: "MuseoModerno", sans-serif;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 8px;

            .letters{
                text-align: right;
            }
        }

        
    }

    .colors{
        .black{
            background-color: #0A0A0A;
        }

        .white{
            background-color: #FEFEFE;
        }

        .blue{
            background-color: #43D6F0;
            color: var(--color-black);
        }

        .purple{
            background-color: #B050FE;
        }

        .orange{
            background-color: #F9A383;
            color: var(--color-black);
        }

        .green{
            background-color: #8EFDCA;
            color: var(--color-black);
        }
    }

    @media screen and (max-width: 550px){
        .colors{
            width: 100%;
            height: 100%;

            .color{
                aspect-ratio: 1 / 1;
                width: 100%;
                height: 100%;
            }

            .top{
                justify-content: start;
                gap: 8px;

                .color{
                    display: none;
                }
            }

            .bottom{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 16px;

                .color.hide{
                    display: flex;
                }
            }
        }
    }

    @media screen and (max-width: 450px){
        .colors .bottom{
            grid-template-columns: 1fr 1fr;
            width: 100%;
        }
    }
}

.poppins{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.design-portfolio{
    .wrapper{
        gap: 64px;
        padding: 64px 0;
    }

    .left-container{
        margin: 0;
    }

    .colors{
        .black{
            background-color: var(--color-black);
        }

        .black-light{
            background-color: var(--color-black-light);
        }

        .white{
            background-color: var(--color-white);
        }

        .white-dark{
            background-color: var(--color-white-dark);
            color: var(--color-black);
        }

        .blue{
            background-color: var(--color-primary);
        }

        .pink{
            background-color: var(--color-accent);
        }
    }

    .right-container{
        img{
            width: 100%;
        }
    }

    @media screen and (max-width: $breakpoint-lg){
        .wrapper{
            display: flex;
            flex-direction: column;
            gap: 64px;
            align-items: start;

            .right-container{
                display: block;
            }
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        .colors{
            width: 100%;
            height: 100%;

            .color{
                aspect-ratio: 1 / 1;
                width: 100%;
                height: 100%;
            }

            .top{
                justify-content: start;
                gap: 8px;

                .color{
                    display: none;
                }
            }

            .bottom{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 16px;

                .color.hide{
                    display: flex;
                }
            }
        }
    }
}

.color{
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
}

.style{
    background-color: var(--color-black);
    color: var(--color-white);
    position: relative;
    overflow: hidden;

    .title{
        color: var(--color-black-light);
    }

    .deco{
        --star-size: 40rem;

        color: var(--color-black-light);
        width: var(--star-size);
        height: var(--star-size);
        position: absolute;
        top: 35%;
        right: calc(var(--star-size) / 2 * -1);
        display: none;
    }

    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: end;
        gap: 126px;

        h3{
            color: var(--color-primary);
            font-size: typo(36px,70px);
            font-weight: 900;
        }
    }

    @media screen and (max-width:1580px){
        .wrapper{
            display: flex;
            flex-direction: column;
            gap: 96px;
            align-items: start;
        }

        .deco{
            display: block;
        }
    }

    @media screen and (max-width:$breakpoint-md){
        .title{
            position: static;
        }

        .wrapper{
            margin-top: 64px;
        }

        .deco{
            --star-size: 30rem;
        }
    }

    @media screen and (max-width:$breakpoint-sm){
        .typos{
            .righteous{
                align-items: start;

                .letter-white{
                    order: 1;
                }

                .letter-black{
                    order: 2;
                }
                
                .letters{
                    text-align: left;
                }
            }

            .star{
                display: none !important;
            }
        }

        .colors{
            width: 100%;
            height: 100%;

            .color{
                aspect-ratio: 1 / 1;
                width: 100%;
                height: 100%;
            }

            .top{
                justify-content: start;
                gap: 8px;

                .color{
                    display: none;
                }
            }

            .bottom{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 16px;

                .color.hide{
                    display: flex;
                }
            }
        }

        .deco{
            top: 25%;
        }
    }

    @media screen and (max-width: 550px){
        .deco{
            --star-size: 20rem;
        }
    }

    @media screen and (max-width: 450px){
        .deco{
            --star-size: 12rem;
            top: 28%;
        }

        .colors .bottom{
            grid-template-columns: 1fr 1fr;
        }
    }
}

.typos{
    font-size: typo(32px,48px);

    .typo{
        display: flex;
        align-items: center;
        gap: 16px;

        .star{
            overflow: hidden;
            width: calc(15rem / 2);
        }

        .star-right{
            display: flex;
            justify-content: right;
        }

        .icon{
            height: 15rem;
            width: 15rem;
            color: var(--color-black-light);
        }
    }

    .righteous{
        font-family: "Righteous", sans-serif;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 8px;

        .letters{
            text-align: right;
        }

        .font-weight{
            justify-content: end;
        }
    }

    .raleway{
        font-family: "Raleway", sans-serif;
    }

    .font-weight{
        display: flex;
        gap: 16px;
        line-height: 130%;

        div{
            padding: 12px;
        }

        .letter-white{
            color: var(--color-black);
            background-color: var(--color-white);
        }
        .letter-bold{
            font-weight: 700;
        }
    }

    .letters{
        font-size: typo(16px,24px);

        .letter-uppercase{
            text-transform: uppercase;
        }
    }
}

.colors{
    display: flex;
    flex-direction: column;
    gap: 16px;

    .icon{
        height: 4.8rem;
        width: 4.8rem;
        color: var(--color-black-light);
    }

    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .bottom{
        display: flex;
        gap: 16px;
    }

    .color{
        width: 115px;
        height: 115px;
        display: flex;
        justify-content: end;
        align-items: end;

        &.hide{
            display: none;
        }

        span{
            font-size: typo(16px,20px);
            font-weight: 300;
            padding: 4px;
            line-height: 80%;
        }

        &.black{
            background-color: #242424;
        }

        &.white{
            background-color: #FFFEFC;
            color: var(--color-black);
        }

        &.beige{
            background-color: #F5EFE4;
            color: var(--color-black);
        }

        &.blue{
            background-color: #6160AB;
        }

        &.orange{
            background-color: #DA795D;
        }

        &.pink{
            background-color: #AF4E6C;
        }
    }
}

.style-bsc{
    .left-container{
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    .colors{
        .top{
            justify-content: start;
            gap: 16px;
        }

        .bottom{
            gap: 32px;
        }

        .black{
            background-color: #00171F;
        }

        .white{
            background-color: #F5EFED;
        }

        .blue{
            background-color: #048BA8;
        }

        .yellow{
            background-color: #f6ae2d;
            color: var(--color-black);
        }

        .blue-dark{
            background-color: #003459;
        }
    }

    .logo-bsc{
        display: flex;
        flex-direction: column;
        gap: 32px;

        .top{
            display: flex;
            align-items: center;
            gap: 32px;

            svg{
                width: 4.8rem;
                height: 4.8rem;
                color: var(--color-black-light);
            }
        }

        .bottom{
            display: flex;
            flex-direction: column;
            gap: 16px;

            .icon-bsc:nth-child(1){
                width: 8rem;
                height: 4rem;
            }

            .icon-bsc:nth-child(2){
                width: 20rem;
                height: 8rem;
            }
        }
    }

    @media screen and (max-width: 1580px){
        .wrapper{
            flex-direction: row;
            align-items: end;
        }
    }

    @media screen and (max-width: 1200px){
        .wrapper{
            flex-direction: column;
            align-items: start;
        }

        .title{
            position: static;
            margin-bottom: 64px;
        }
    }

    @media screen and (max-width: $breakpoint-md){
        .wrapper{
            flex-direction: column;
            align-items: start;
        }

        .title{
            position: static;
            margin-bottom: 64px;
        }
    }

    @media screen and (max-width: $breakpoint-sm){
        .logo-bsc .bottom{
            .icon-bsc:nth-child(1){
                width: 5rem;
                height: 2.5rem;
            }

            .icon-bsc:nth-child(2){
                width: 15rem;
                height: 7rem;
            }
        }
    }
}