.designFinal{
    position: relative;
    overflow: hidden;

    .deco{
        --star-size: 25rem;

        width: var(--star-size);
        height: var(--star-size);
        position: absolute;
        color: var(--color-white-dark);
        top: 15%;
        left: 15%;
        z-index: -1;
    }

    .title{
        position: static;
        color: var(--color-white-dark);
    }

    @media screen and (max-width: $breakpoint-md){
        .title{
            margin-bottom: 64px;
        }
        
        .deco{
            --star-size: 15rem;
            left: 10%;
            top: 27%;
        }
    }

    @media screen and (max-width: $breakpoint-sm){
        .deco{
            --star-size: 10rem;
            left: 10%;
            top: 32%;
        }
    }

    @media screen and (max-width: $breakpoint-xs){
        .deco{
            --star-size: 8rem;
            left: 7%;
            top: 35%;
        }
    }
}