.prototype{
    --line-out: -14px;

    .title{
        color: var(--color-white-dark);
        position: static;
        margin-bottom: 32px;
    }

    .wrapper{
        display: flex;
        justify-content: center;
    }
}

.embed{
    position: relative;
    width: 70%;
    height: 70vh;

    iframe{
        width: 100%;
        height: 100%;
    }

    .line-vertical{
        width: 6px;
        height: 250px;
        background-color: var(--color-white-dark);
        position: absolute;
    }

    .line-horizontal{
        width: 250px;
        height: 6px;
        background-color: var(--color-white-dark);
        position: absolute;
    } 

    .line-up{
        top: var(--line-out);
        right: var(--line-out);
    }

    .line-right{
        top: var(--line-out);
        right: var(--line-out);
    }

    .line-down{
        bottom: var(--line-out);
        left: var(--line-out);
    }

    .line-left{
        bottom: var(--line-out);
        left: var(--line-out);
    }
}