/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #ECEBE4;
    --color-black: #2E2C2F;
    --color-white-dark: #DEDBCF;
    --color-black-light: #48454A;

    // Couleurs du projet
    --color-primary: #048BA8;
    --color-accent: #F76F8E;
}
