{% include '_partials/_header.html' %}

<section class="hero hero_projects">
    <div class="wrapper">
        <div class="up">
            <div class="media" data-component="LineAnim">
                <div class="line-horizontal line-up js-line-up"></div>
                <div class="line-vertical js-line-left"></div>
                <div class="zoom">
                    <img src="assets/images/mockupAnxiete.png" alt="Photo de moi">
                </div>
                <div class="line-vertical line-right js-line-right"></div>
                <div class="line-horizontal line-down js-line-down"></div>
            </div>
            <div class="infos">
                <h1>La peur d'échouer</h1>
                <p>Design web | Projet étudiant</p>
                <div class="line"></div>
                <div class="description">Design d’une campagne de sensibilisation fictive</div>
                <p>La peur d’échouer est une <span>expérience web</span> visant à <span>s’ensibiliser</span> les 15-25 ans sur l’enjeu de <span>l’anxiété de performance.</span></p>
            </div>
        </div>
        <div class="down">
            <div class="logiciels">
                <p class="heading">Logiciels utilisés</p>
                <svg class="icon">
                    <use href="#icon-figma"></use>
                </svg>
            </div>
            <div class="credits-wrapper">
                <p class="heading">Crédits</p>
                <div class="credits">
                    <div class="credit">
                        <span class="me">Amélie Cousineau</span>
                        <p>Aide design</p>
                        <p>Prototypage</p>
                    </div>
                    <div class="credit">
                        <a href="https://asulytska.com/" target="_blank">Amyeliya Sulytska</a>
                        <p>Identité visuelle</p>
                        <p>Design global</p>
                    </div>
                    <div class="credit">
                        <a href="http://jadevaillancourt.com/" target="_blank">Jade Vaillancourt</a>
                        <p>Gestion d’équipe</p>
                        <p>Design global</p>
                    </div>
                    <div class="credit">
                        <a href="https://cthibault.dectim.ca/" target="_blank">Coralie Thibault</a>
                        <p>Recherche de contenu</p>
                        <p>Identité visuelle</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="style">
    <div class="title">
        <h2>01</h2>
        <h3>Identité visuelle</h3>
    </div>
    <svg class="icon deco">
        <use href="#icon-cercleStar"></use>
    </svg>
    <div class="wrapper">
        <div class="typos">
            <h3>Typographie</h3>
            <div class="typo">
               <div class="righteous">
                    <span>Righteous</span>
                    <div class="font-weight">
                        <div class="letter-black">Aa</div>
                        <div class="letter-white">Aa</div>
                    </div>
                    <div class="letters">
                        <div class="letter letter-uppercase">abcdefghijklmnopqrstuvwxyz</div>
                        <div class="letter">abcdefghijklmnopqrstuvwxyz</div>
                        <div class="letter">0123456789</div>
                    </div>
                </div>
                <div class="star star-right">
                    <svg class="icon">
                        <use href="#icon-cercleStar"></use>
                    </svg>
                </div>
            </div>
            <div class="typo">
                <div class="star">
                    <svg class="icon">
                        <use href="#icon-cercleStar"></use>
                    </svg>
                </div>
                <div class="raleway">
                    <span>Raleway</span>
                    <div class="font-weight">
                        <div class="letter-white">Aa</div>
                        <div class="letter-black">Aa</div>
                        <div class="letter-black letter-bold">Aa</div>
                    </div>
                    <div class="letters">
                        <div class="letter letter-uppercase">abcdefghijklmnopqrstuvwxyz</div>
                        <div class="letter">abcdefghijklmnopqrstuvwxyz</div>
                        <div class="letter">0123456789</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="colors">
            <div class="top">
                <div class="color black">
                    <span>#242424</span>
                </div>
                <h3>Couleurs</h3>
                <svg class="icon">
                    <use href="#icon-star"></use>
                </svg>
            </div>

            <div class="bottom">
                <div class="color black hide">
                    <span>#242424</span>
                </div>
                <div class="color white">
                    <span>#FFFEFC</span>
                </div>
                <div class="color beige">
                    <span>#F5EFE4</span>
                </div>
                <div class="color blue">
                    <span>#6160AB</span>
                </div>
                <div class="color orange">
                    <span>#DA795D</span>
                </div>
                <div class="color pink">
                    <span>#AF4E6C</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="moodboard">
    <div class="title">
        <h2>02</h2>
        <h3>Moodboard</h3>
    </div>
    <div class="wrapper">
        <svg class="icon star1">
            <use href="#icon-cercleStar"></use>
        </svg>
        <img src="assets/images/moodboardAnxiete.png" alt="" class="mb">
        <img src="assets/images/moodboardAnxieteMobile.png" alt="" class="mb_mobile">
        <svg class="icon star2">
            <use href="#icon-star"></use>
        </svg>
    </div>
</section>

<!-- <section class="wireframe">
    <div class="title">
        <h2>03</h2>
        <h3>évolution</h3>
    </div>
    <svg class="icon deco">
        <use href="#icon-cercleStar"></use>
    </svg>
    <div class="wrapper">
        <img src="assets/images/wireframeAnxiete.png" alt="">
    </div>
</section> -->

<!-- <section class="prototype">
    <div class="title">
        <h2>04</h2>
        <h3>Design final</h3>
    </div>
    <div class="wrapper">
        <div class="embed">
            <div class="line-horizontal line-up"></div>
            <div class="line-vertical line-right"></div>
            <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" src="https://embed.figma.com/proto/JdZU6z741ZaWMbwwTyhsBM/Campagne-de-sensibilisation-Anxi%C3%A9t%C3%A9?page-id=2%3A3&node-id=5860-1717&p=f&viewport=-482%2C302%2C0.02&scaling=scale-down&content-scaling=fixed&starting-point-node-id=5860%3A1717&embed-host=share" allowfullscreen></iframe>
            <div class="line-vertical line-left"></div>
            <div class="line-horizontal line-down"></div>
        </div>
    </div>
</section> -->

{% include '_partials/_footer.html' %}