{% include '_partials/_header.html' %}

<section class="hero hero_projects">
    <div class="wrapper">
        <div class="up">
            <div class="media" data-component="LineAnim">
                <div class="line-horizontal line-up js-line-up"></div>
                <div class="line-vertical js-line-left"></div>
                <div class="zoom">
                    <img src="assets/images/mockupBaieSteCatherine.webp" alt="Photo de moi">
                </div>
                <div class="line-vertical line-right js-line-right"></div>
                <div class="line-horizontal line-down js-line-down"></div>
            </div>

            <div class="infos">
                <h1 data-scrolly="fromLeft">Baie Ste-Catherine</h1>
                <p data-scrolly="fromLeft" data-delay="200">Design web | Projet étudiant</p>
                <div class="line"></div>
                <div class="description" data-scrolly="fromLeft" data-delay="400">Refonte du site de la municipalité de Baie Sainte-Catherine</div>
                <p data-scrolly="fromLeft" data-delay="600">La refonte du site de Baie-Sainte-Catherine <span>modernise l’image</span> de la municipalité et <span>simplifie l’accès à l’information</span>, tout en mettant en valeur <span>ses attraits et sa vitalité locale</span>.</p>
            </div>
        </div>
        <div class="down">
            <div class="logiciels">
                <p class="heading">Logiciels utilisés</p>
                <svg class="icon" data-scrolly="fromLeft">
                    <use href="#icon-figma"></use>
                </svg>
            </div>
        </div>
    </div>
</section>

<section class="style style-bsc">
    <div class="title">
        <h2 data-scrolly="fromRightStraight">01</h2>
        <h3 data-scrolly="fromRightStraight">Identité visuelle</h3>
    </div>
    <div class="wrapper">
        <div class="left-container">
            <div class="typos">
                <h3 data-scrolly="fromLeft">Typographie</h3>
                <div class="typo">
                    <div class="star">
                        <svg class="icon">
                            <use href="#icon-cercleStar"></use>
                        </svg>
                    </div>
                    <div class="poppins">
                        <span>Poppins</span>
                        <div class="font-weight">
                            <div class="letter-white">Aa</div>
                            <div class="letter-black">Aa</div>
                            <div class="letter-black letter-bold">Aa</div>
                        </div>
                        <div class="letters">
                            <div class="letter letter-uppercase">abcdefghijklmnopqrstuvwxyz</div>
                            <div class="letter">abcdefghijklmnopqrstuvwxyz</div>
                            <div class="letter">0123456789</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="colors">
                <div class="top">
                    <div class="color black">
                        <span>#00171F</span>
                    </div>
                    <h3 data-scrolly="fromLeft">Couleurs</h3>
                </div>

                <div class="bottom">
                    <div class="color black hide">
                        <span>#00171F</span>
                    </div>
                    <div class="color white">
                        <span>#F5EFED</span>
                    </div>
                    <div class="color blue">
                        <span>#048BA8</span>
                    </div>
                    <div class="color yellow">
                        <span>#F6AE2D</span>
                    </div>
                    <div class="color blue-dark">
                        <span>#003459</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="logo-bsc">
                <div class="top">
                    <h3 data-scrolly="fromLeft">Logo</h3>
                    <svg class="icon">
                        <use href="#icon-star"></use>
                    </svg>
                </div>
                <div class="bottom">
                    <svg class="icon icon-bsc">
                        <use href="#icon-bscLogoShort"></use>
                    </svg>
                    <svg class="icon icon-bsc">
                        <use href="#icon-bscLogo"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="moodboard">
    <div class="title">
        <h2 data-scrolly="fromRightStraight">02</h2>
        <h3 data-scrolly="fromRightStraight">Moodboard</h3>
    </div>
    <div class="wrapper">
        <img src="assets/images/moodboardBaieSteCatherine.webp" alt="" class="mb">
        <img src="assets/images/moodboardBaieSteCatherineMobile.webp" alt="" class="mb_mobile">
    </div>
</section>

<section class="wireframe wireframe-bsc">
    <div class="title">
        <h2 data-scrolly="fromRightStraight">03</h2>
        <h3 data-scrolly="fromRightStraight">Wireframe</h3>
    </div>
    <div class="wrapper">
        <img src="assets/images/wireframeBSC1.png" alt="" class="wf">
        <img src="assets/images/wireframeBSC2.png" alt="" class="wf">
        <img src="assets/images/wireframeBSC1_mobile.webp" alt="" class="wf_mobile">
        <img src="assets/images/wireframeBSC3.png" alt="" class="wf">
        <img src="assets/images/wireframeBSC2_mobile.webp" alt="" class="wf_mobile">

         <div class="swiper swiper-wf" data-component="Carousel" data-space="64" data-scrolly="cardGap">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/wfBSC_accueil.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wfBSC_accesRapide.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wfBSC_actualites.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wfBSC_decouvrir.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wfBSC_evenements.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wfBSC_joindre.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wfBSC_contact.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wfBSC_services.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/wfBSC_videos.png" alt="">
                </div>
            </div>
            <div class="custom-nav">
                <button class="custom-button-prev">
                    <svg class="icon icon--lg">
                        <use href="#icon-leftArrow"></use>
                    </svg>
                </button>
                <button class="custom-button-next">
                    <svg class="icon icon--lg">
                        <use href="#icon-rightArrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="designFinal">
    <div class="title">
        <h2 data-scrolly="fromRightStraight">04</h2>
        <h3 data-scrolly="fromRightStraight">Design final</h3>
    </div>
    <svg class="icon deco"  data-component="StarAnim" data-speed="16">
        <use href="#icon-star"></use>
    </svg>
    <div class="wrapper">
        <img src="assets/images/mockupBSCFinal.webp" alt="">
    </div>
</section>

<section class="prototype">
    <div class="title">
        <h2 data-scrolly="fromRightStraight">05</h2>
        <h3 data-scrolly="fromRightStraight">Prototype</h3>
    </div>
    <div class="wrapper">
        <div class="embed">
            <div class="line-horizontal line-up"></div>
            <div class="line-vertical line-right"></div>
            <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" src="https://embed.figma.com/proto/cH37GVYdcoojT5RHdeqRjn/Baie-Ste-Catherine_AmelieCousineau?page-id=0%3A1&node-id=8045-130&p=f&viewport=511%2C215%2C0.04&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=8045%3A130&embed-host=share" allowfullscreen></iframe>
            <div class="line-vertical line-left"></div>
            <div class="line-horizontal line-down"></div>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}