 {% include '_partials/_header.html' %}

<div class="hero">
    <div class="wrapper">
        <div class="content">
            <span class="greeting js-greeting">
                Salut!
            </span>
            <h1>Amélie Cousineau</h1>
            <div class="line"></div>
            <p>Développeuse web</p>
        </div>
        <div class="media">
            <div class="line-horizontal line-up"></div>
            <div class="line-vertical"></div>
            <img src="assets/images/photoMoi.png" alt="Photo de moi">
            <div class="line-horizontal line-down"></div>
        </div>
    </div>
</div>

<section class="projects">
    <div class="wrapper">
        <div class="swiper swiper-full" data-component="Carousel" data-space="120px">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card_media">
                        <h3 class="title-up">Shell</h3>
                        <div class="line-horizontal line-up"></div>
                        <div class="line-vertical line-right"></div>
                        <img src="assets/images/mockupShellSound.png" alt="">
                        <div class="line-vertical line-left"></div>
                        <div class="line-horizontal line-down"></div>
                        <h3 class="title-down">Sound</h3>
                    </div>
                    <div class="card_content">
                        <p>Developpement web | Projet personnel</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card_media">
                        <h3 class="title-up">La peur</h3>
                        <div class="line-horizontal line-up"></div>
                        <div class="line-vertical line-right"></div>
                        <img src="assets/images/mockupAnxiete.png" alt="">
                        <div class="line-vertical line-left"></div>
                        <div class="line-horizontal line-down"></div>
                        <h3 class="title-down">d'échouer</h3>
                    </div>
                    <div class="card_content">
                        <p>Design web | Projet étudiant</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <svg class="icon deco">
        <use href="#icon-cercleStar"></use>
    </svg>
    <h2>et moi alors?</h2>
    
    <div class="wrapper">
        <p>
            Presque née devant un ordinateur, je m’intéresse à l’informatique depuis mon plus jeune âge. J’ai commencé par un <span>DEP en soutien informatique</span>, suivie d’un an en <span>technique en informatique</span> pour finir par échouer en <span>technique d’intégration multimédian</span>, l’endroit où j’ai trouvé ma place. En dehors des cours, j’aime les <span>jeux vidéos</span>, la <span>lecture</span>, les <span>casse-têtes</span> et certains sports, tel que le <span>paddleboard</span> et le <span>vélo</span>. Je suis <span>sociable</span>, <span>dynamique</span> et j’aime <span>parlé</span> (même parfois trop).
        </p>
        <div class="flex-2">
            <div class="passions">
                <div class="top">
                    <h3>ce qui</h3>
                    <svg class="icon icon--xl stars">
                        <use href="#icon-star"></use>
                    </svg>
                </div>
                <h3 class="bottom">m'anime</h3>
                <ul>
                    <li>
                        <svg class="icon icon--xl">
                            <use href="#icon-game"></use>
                        </svg>
                        Jeux vidéo
                    </li>
                    <li>
                        <svg class="icon icon--xl">
                            <use href="#icon-glasses"></use>
                        </svg>
                        Lecture
                    </li>
                    <li>
                        <svg class="icon icon--xl">
                            <use href="#icon-puzzle"></use>
                        </svg>
                        Casse-tête
                    </li>
                    <li>
                        <svg class="icon icon--xl">
                            <use href="#icon-music"></use>
                        </svg>
                        Musique
                    </li>
                </ul>
            </div>
            <div class="qualities">
                <h3 class="top">ce qui me</h3>
                <div class="bottom">
                    <h3>définit</h3>
                    <svg class="icon icon--xl stars">
                        <use href="#icon-star"></use>
                    </svg>
                </div>
                <ul>
                    <li>Esprit d’équipe</li>
                    <li>Minutieuse</li>
                    <li>Organisée</li>
                    <li>Créative</li>
                    <li>Sociable</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="kit">
    <h2>Mon kit dev</h2>
    <svg class="icon deco">
        <use href="#icon-star"></use>
    </svg>
    <div class="wrapper">
        <div class="grid-3">
            <p>
                Présentement <span>finissante</span> en technique d’intégration multimédia, je suis <span>passionnée de web</span>. Je souhaite me trouver un stage en <span>développement web</span> et j’espère trouver une agence dans laquelle je pourrais <span>continuer mon parcours professionnel</span>. 
            </p>
            <div class="skills">
                <h3>Mon</h3>
                <h3 class="bottom">Expertise</h3>
                <ul>
                    <li>Développement web</li>
                    <li>Design web</li>
                </ul>
            </div>
            <div class="langages">
                <h3>Mon</h3>
                <h3 class="bottom">Language</h3>
                <ul>
                    <li>
                        <svg class="icon icon--xl">
                            <use href="#icon-html"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon icon--xl">
                            <use href="#icon-css"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon icon--xl">
                            <use href="#icon-js"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="software">
                <h3>Mon</h3>
                <h3 class="bottom">Arsenal</h3>
                <ul>
                    <li>
                        <svg class="icon icon--xl">
                            <use href="#icon-figma"></use>
                        </svg>
                    </li>
                    <li>
                        <svg class="icon icon--xl">
                            <use href="#icon-vscode"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <svg class="icon bigStar">
                <use href="#icon-cercleStar"></use>
            </svg>
        </div>
    </div>
</section>

<section class="contact">
    <h2 class="side">Hey!</h2>
    <div class="wrapper">
        <div class="flex_sb">
            <h2>On<br>Se</h2>
            <div class="form">
                <input class="input__element" type="text" name="fullname" id="fullname" placeholder="Nom" required />
                <input class="input__element" type="email" name="email" id="email" placeholder="Courriel" required />
                <textarea class="input__element" name="comment" id="comment" placeholder="Message" required></textarea>
            </div>
        </div>
        <div class="flex_sb">
            <h2>Parle?</h2>
            <div class="right">
                <button>Envoyer</button>
                <nav class="socials">
                    <svg class="icon icon--xl">
                        <use href="#icon-linkedin"></use>
                    </svg>
                    <svg class="icon icon--xl">
                        <use href="#icon-github"></use>
                    </svg>
                </nav>
            </div>
        </div>
        <div class="infos flex_sb">
            <a href="">ameliecousineau5@gmail.com</a>
            <a href="">(438) 499-1920</a>
            <a href="">Curriculum vitae</a>
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}