{% include '_partials/_header.html' %}
<div id="smooth-wrapper" data-component="Scroller">
    <div id="smooth-content">
        <section class="hero hero_projects hero-shellSound">
            <div class="wrapper">
                <div class="up">
                    <div class="media" data-component="LineAnim">
                        <div class="line-horizontal line-up js-line-up"></div>
                        <div class="line-vertical js-line-left"></div>
                        <div class="zoom">
                            <img src="assets/images/mockupPortfolio.png" alt="Photo de moi">
                        </div>
                        <div class="line-vertical line-right js-line-right"></div>
                        <div class="line-horizontal line-down js-line-down"></div>
                    </div>
                    <div class="infos">
                        <h1>Portfolio</h1>
                        <p>Développement web | Projet étudiant</p>
                        <div class="line"></div>
                        <div class="description">Design et développement du site web de mon portfolio</div>
                        <p>Mon portfolio est un projet alliant <span>design et développement web</span>, pensé pour refléter <span>ma créativité</span> et <span>mes compétences en HTML, CSS et JavaScript</span>.</p>
                    </div>
                </div>
                <div class="down">
                    <div class="logiciels">
                        <p class="heading">Logiciels utilisés</p>
                        <svg class="icon">
                            <use href="#icon-figma"></use>
                        </svg>
                        <svg class="icon">
                            <use href="#icon-photoshop"></use>
                        </svg>
                        <svg class="icon">
                            <use href="#icon-vscode"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </section>

        <section class="design design-portfolio">
            <div class="title">
                <h2>01</h2>
                <h3>Design</h3>
            </div>
            <div class="wrapper">
                <div class="left-container">
                    <div class="typos">
                        <h3>Typographie</h3>
                        <div class="typo">
                            <div class="star">
                                <svg class="icon">
                                    <use href="#icon-cercleStar"></use>
                                </svg>
                            </div>
                            <div class="montserrat">
                                <span>Montserrat</span>
                                <div class="font-weight">
                                    <div class="letter-white">Aa</div>
                                    <div class="letter-black">Aa</div>
                                    <div class="letter-black letter-bold">Aa</div>
                                </div>
                                <div class="letters">
                                    <div class="letter letter-uppercase">abcdefghijklmnopqrstuvwxyz</div>
                                    <div class="letter">abcdefghijklmnopqrstuvwxyz</div>
                                    <div class="letter">0123456789</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="colors">
                        <div class="top">
                            <div class="color black">
                                <span>#2E2C2F</span>
                            </div>
                            <h3>Couleurs</h3>
                            <svg class="icon">
                                <use href="#icon-star"></use>
                            </svg>
                        </div>

                        <div class="bottom">
                            <div class="color black hide">
                                <span>#2E2C2F</span>
                            </div>
                            <div class="color black-light">
                                <span>#48454A</span>
                            </div>
                            <div class="color white">
                                <span>#ECEBE4</span>
                            </div>
                            <div class="color white-dark">
                                <span>#DEDBCF</span>
                            </div>
                            <div class="color blue">
                                <span>#048BA8</span>
                            </div>
                            <div class="color pink">
                                <span>#F76F8E</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-container">
                    <img src="assets/images/moodboardPortfolio.png" alt="">
                </div>
            </div>
        </section>

        <section class="coding">
            <svg class="icon deco" data-component="StarAnim" data-inverse data-speed="10">
                <use href="#icon-star"></use>
            </svg>
            <div class="title">
                <h2>02</h2>
                <h3>Intégration</h3>
            </div>
            <div class="wrapper">
                <div class="swiper swiper-shellSound swiper-full" data-component="Carousel" data-space="120px">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-component="Zoom">
                            <img src="assets/images/portfolioCode1.png" alt="">
                            <p>Code composante JS animation étoiles</p>
                        </div>
                        <div class="swiper-slide" data-component="Zoom">
                            <img src="assets/images/portfolioCode2.png" alt="">
                            <p>Code composante JS animation salutation</p>
                        </div>
                        <div class="swiper-slide" data-component="Zoom">
                            <img src="assets/images/portfolioCode3.png" alt="">
                            <p>Code composante JS zoom image</p>
                        </div>
                    </div>
                    <div class="custom-nav">
                        <button class="custom-button-prev">
                            <svg class="icon icon--lg">
                                <use href="#icon-leftArrow"></use>
                            </svg>
                        </button>
                        <button class="custom-button-next">
                            <svg class="icon icon--lg">
                                <use href="#icon-rightArrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <section class="final">
            <div class="title">
                <h2>03</h2>
                <h3>Final</h3>
            </div>
            <svg class="icon deco-big" data-component="StarAnim" data-speed="8" data-inverse>
                <use href="#icon-cercleStar"></use>
            </svg>
            <div class="wrapper">
                <svg class="icon deco" data-component="StarAnim" data-speed="12">
                    <use href="#icon-star"></use>
                </svg>
                <img src="assets/images/mockupPortfolioFinal.png" alt="">
            </div>
        </section>

{% include '_partials/_footer.html' %}