{% include '_partials/_header.html' %}

<section class="hero hero_projects hero-shellSound">
    <div class="wrapper">
        <div class="up">
            <div class="media" data-component="LineAnim">
                <div class="line-horizontal line-up js-line-up"></div>
                <div class="line-vertical js-line-left"></div>
                <div class="zoom">
                    <img src="assets/images/mockupShellSound.webp" alt="Photo de moi">
                </div>
                <div class="line-vertical line-right js-line-right"></div>
                <div class="line-horizontal line-down js-line-down"></div>
            </div>
            <div class="infos">
                <h1 data-scrolly="fromLeft">Shell Sound</h1>
                <p data-scrolly="fromLeft" data-delay="200">Développement web | Projet personnel</p>
                <div class="line"></div>
                <div class="description" data-scrolly="fromLeft" data-delay="400">Design et développement d’un site web pour un produit fictif</div>
                <p data-scrolly="fromLeft" data-delay="600">Shell Sound est une <span>landing page</span> conçue pour présenter un <span>assistant intelligent fictif</span>, mettant en avant ses <span>fonctionnalités clés</span> de manière <span>simple et engageante</span>.</p>
            </div>
        </div>
        <div class="down">
            <div class="logiciels">
                <p class="heading">Logiciels utilisés</p>
                <svg class="icon" data-scrolly="fromLeft" data-delay="800">
                    <use href="#icon-figma"></use>
                </svg>
                <svg class="icon" data-scrolly="fromLeft" data-delay="1000">
                    <use href="#icon-photoshop"></use>
                </svg>
                <svg class="icon" data-scrolly="fromLeft" data-delay="1200">
                    <use href="#icon-vscode"></use>
                </svg>
            </div>
            <a href="demo/shellSound/" target="_blank" class="btn">
                <div class="line-horizontal line-up"></div>
                <div class="line-vertical line-right"></div>
                <p>Voir le site</p> 
                <div class="line-vertical line-left"></div>
                <div class="line-horizontal line-down"></div> 
            </a>
        </div>
    </div>
</section>

<section class="design">
    <div class="title">
        <h2 data-scrolly="fromRightStraight">01</h2>
        <h3 data-scrolly="fromRightStraight">Design</h3>
    </div>
    <div class="wrapper">
        <div class="left-container">
            <img src="assets/images/shellSoundWireframe1.png" alt="" class="wf">
            <div class="typos">
                <h3 data-scrolly="fromLeft">Typographie</h3>
                <div class="typo">
                    <div class="star">
                        <svg class="icon">
                            <use href="#icon-cercleStar"></use>
                        </svg>
                    </div>
                    <div class="montserrat">
                        <span>Montserrat</span>
                        <div class="font-weight">
                            <div class="letter-white">Aa</div>
                            <div class="letter-black">Aa</div>
                            <div class="letter-black letter-bold">Aa</div>
                        </div>
                        <div class="letters">
                            <div class="letter letter-uppercase">abcdefghijklmnopqrstuvwxyz</div>
                            <div class="letter">abcdefghijklmnopqrstuvwxyz</div>
                            <div class="letter">0123456789</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="colors">
                <div class="top">
                    <h3 data-scrolly="fromLeft">Couleurs</h3>
                    <svg class="icon">
                        <use href="#icon-star"></use>
                    </svg>
                </div>

                <div class="bottom">
                    <div class="color black">
                        <span>#0D141C</span>
                    </div>
                        <div class="color white">
                        <span>#F2F5F8</span>
                    </div>
                    <div class="color blue-white">
                        <span>#D8E0E9</span>
                    </div>
                    <div class="color blue">
                        <span>#41628B</span>
                    </div>
                </div>
            </div>
            <div class="swiper swiper-wf" data-component="Carousel" data-space="64" data-scrolly="cardGap">
                <h3 data-scrolly="fromLeft">Wireframe</h3>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/wfShellSound_accueil.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/wfShellSound_spec.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/wfShellSound_temoignage.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/wfShellSound_fin.png" alt="">
                    </div>
                </div>
                <div class="custom-nav custom-nav-gridProjects">
                    <button class="custom-button-prev">
                        <svg class="icon icon--lg">
                            <use href="#icon-leftArrow"></use>
                        </svg>
                    </button>
                    <button class="custom-button-next">
                        <svg class="icon icon--lg">
                            <use href="#icon-rightArrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-container">
            <img src="assets/images/shellSoundWireframe2.png" alt="" class="wf">
        </div>
    </div>
</section>

<section class="coding">
    <svg class="icon deco" data-component="StarAnim" data-inverse data-speed="10">
        <use href="#icon-star"></use>
    </svg>
    <div class="title">
        <h2 data-scrolly="fromRightStraight">02</h2>
        <h3 data-scrolly="fromRightStraight">Intégration</h3>
    </div>
    <div class="wrapper">
        <div class="swiper swiper-shellSound swiper-full" data-component="Carousel" data-space="120px" data-scrolly="cardGap">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-component="Zoom">
                    <img src="assets/images/shellSoundCode1.webp" alt="">
                    <p>Code HTML hero</p>
                </div>
                <div class="swiper-slide" data-component="Zoom">
                    <img src="assets/images/shellSoundCode2.webp" alt="">
                    <p>Code composante JS menu points</p>
                </div>
                <div class="swiper-slide" data-component="Zoom">
                    <img src="assets/images/shellSoundCode3.webp" alt="">
                    <p>Code composante JS changement couleur produit</p>
                </div>
            </div>
            <div class="custom-nav">
                <button class="custom-button-prev">
                    <svg class="icon icon--lg">
                        <use href="#icon-leftArrow"></use>
                    </svg>
                </button>
                <button class="custom-button-next">
                    <svg class="icon icon--lg">
                        <use href="#icon-rightArrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="final">
    <div class="title">
        <h2 data-scrolly="fromRightStraight">03</h2>
        <h3 data-scrolly="fromRightStraight">Final</h3>
    </div>
    <svg class="icon deco-big" data-component="StarAnim" data-speed="8" data-inverse>
        <use href="#icon-cercleStar"></use>
    </svg>
    <div class="wrapper">
        <svg class="icon deco" data-component="StarAnim" data-speed="12">
            <use href="#icon-star"></use>
        </svg>
        <img src="assets/images/mockupShellSoundFinal.webp" alt="">
    </div>
</section>

{% include '_partials/_footer.html' %}