{% include '_partials/_header.html' %}

<section class="hero hero_projects">
    <div class="wrapper">
        <div class="up">
            <div class="infos">
                <h1>Shell Sound</h1>
                <p>Développement web | Projet personnel</p>
                <div class="line"></div>
                <div class="description">Design et développement d’un site web pour un produit fictif</div>
                <p>Shell Sound est une <span>landing page</span> conçue pour présenter un <span>assistant intelligent fictif</span>, mettant en avant ses <span>fonctionnalités clés</span> de manière <span>simple et engageante</span>.</p>
            </div>
        
            <div class="media" data-component="LineAnim">
                <div class="line-horizontal line-up js-line-up"></div>
                <div class="line-vertical js-line-left"></div>
                <div class="zoom">
                    <img src="assets/images/mockupShellSound.png" alt="Photo de moi">
                </div>
                <div class="line-horizontal line-down js-line-down"></div>
            </div>
        </div>
        <div class="down">
            <div class="logiciels">
                <p class="heading">Logiciels utilisés</p>
                <svg class="icon">
                    <use href="#icon-figma"></use>
                </svg>
                <svg class="icon">
                    <use href="#icon-photoshop"></use>
                </svg>
                <svg class="icon">
                    <use href="#icon-vscode"></use>
                </svg>
            </div>
        </div>
            
        </div>
    </div>
</section>

{% include '_partials/_footer.html' %}