{% include '_partials/_header.html' %}

<section class="hero hero_projects hero-webjam">
    <div class="wrapper">
        <div class="up">
            <div class="media" data-component="LineAnim">
                <div class="line-horizontal line-up js-line-up"></div>
                <div class="line-vertical js-line-left"></div>
                <div class="zoom">
                    <img src="assets/images/mockupWebjam.png" alt="Photo de moi">
                </div>
                <div class="line-vertical line-right js-line-right"></div>
                <div class="line-horizontal line-down js-line-down"></div>
            </div>
            <div class="infos">
                <h1 data-scrolly="fromLeft">Vision</h1>
                <p>Développement web | Projet étudiant</p>
                <div class="line"></div>
                <div class="description">Design et développement d’un site web immersif autour d’un concept fictif</div>
                <p>
                    Vision est un site web créée lors d’un <span>WebJam de 36 heures</span>, présentant une <span>paire de lunettes fictives</span> permettant d’accéder à une <span>culture bannie et censurée</span> à travers une expérience <span>sobre et immersive</span>.
                </p>
            </div>
        </div>
        <div class="down">
            <div class="logiciels">
                <p class="heading">Logiciels utilisés</p>
                <svg class="icon">
                    <use href="#icon-figma"></use>
                </svg>
                <svg class="icon">
                    <use href="#icon-vscode"></use>
                </svg>
                <svg class="icon">
                    <use href="#icon-wordpress"></use>
                </svg>
            </div>
            <div class="credits-wrapper">
                <p class="heading">Crédits</p>
                <div class="credits">
                    <div class="credit">
                        <span class="me">Amélie Cousineau</span>
                        <p>Intégratrice</p>
                        <p>Programmeuse</p>
                    </div>
                    <div class="credit">
                        <a href="https://asulytska.com/" target="_blank">Amyeliya Sulytska</a>
                        <p>Designer</p>
                        <p>Intégratrice</p>
                    </div>
                    <div class="credit">
                        <a href="http://maenajenesse.ca/" target="_blank">Maëna Jenesse</a>
                        <p>Designer</p>
                        <p>Intégratrice</p>
                    </div>
                    <div class="credit">
                        <a href="https://cthibault.dectim.ca/" target="_blank">Coralie Thibault</a>
                        <p>Vidéaste</p>
                        <p>Intégratrice</p>
                    </div>
                    <div class="credit">
                        <a>Guillaume Callebert</a>
                        <p>Intégrateur</p>
                        <p>Programmeur</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="design design-webjam">
    <div class="title">
        <h2 data-scrolly="fromRight">01</h2>
        <h3 data-scrolly="fromRight">Design</h3>
    </div>
    <div class="wrapper">
        <div class="left-container">
            <div class="typos">
                <h3>Typographie</h3>
                <div class="typo">
                    <div class="bebas">
                        <span>Bebas Neue</span>
                        <div class="font-weight">
                            <div class="letter-black">Aa</div>
                            <div class="letter-white">Aa</div>
                        </div>
                        <div class="letters">
                            <div class="letter letter-uppercase">abcdefghijklmnopqrstuvwxyz</div>
                            <div class="letter">0123456789</div>
                        </div>
                    </div>
                <div class="star star-right">
                    <svg class="icon">
                        <use href="#icon-cercleStar"></use>
                    </svg>
                </div>
            </div>
            <div class="typo">
                <div class="star">
                    <svg class="icon">
                        <use href="#icon-cercleStar"></use>
                    </svg>
                </div>
                <div class="poppins">
                    <span>Poppins</span>
                    <div class="font-weight">
                        <div class="letter-white">Aa</div>
                        <div class="letter-black">Aa</div>
                        <div class="letter-black letter-bold">Aa</div>
                    </div>
                    <div class="letters">
                        <div class="letter letter-uppercase">abcdefghijklmnopqrstuvwxyz</div>
                        <div class="letter">abcdefghijklmnopqrstuvwxyz</div>
                        <div class="letter">0123456789</div>
                    </div>
                </div>
            </div>
            <div class="typo">
                <div class="museo">
                    <span>MuseoModerno</span>
                    <div class="font-weight">
                        <div class="letter-black letter-bold">Aa</div>
                        <div class="letter-black">Aa</div>
                        <div class="letter-white">Aa</div>
                    </div>
                    <div class="letters">
                        <div class="letter letter-uppercase">abcdefghijklmnopqrstuvwxyz</div>
                        <div class="letter">abcdefghijklmnopqrstuvwxyz</div>
                        <div class="letter">0123456789</div>
                    </div>
                </div>
                <div class="star star-right">
                    <svg class="icon">
                        <use href="#icon-cercleStar"></use>
                    </svg>
                </div>
            </div>
        </div>
            <div class="colors">
                <div class="top">
                    <div class="color black">
                        <span>#0A0A0A</span>
                    </div>
                    <h3>Couleurs</h3>
                    <svg class="icon">
                        <use href="#icon-star"></use>
                    </svg>
                </div>

                <div class="bottom">
                    <div class="color black hide">
                        <span>#0A0A0A</span>
                    </div>
                    <div class="color white">
                        <span>#FEFEFE</span>
                    </div>
                    <div class="color blue">
                        <span>#43D6F0</span>
                    </div>
                    <div class="color purple">
                        <span>#B050FE</span>
                    </div>
                    <div class="color orange">
                        <span>#F9A383</span>
                    </div>
                    <div class="color green">
                        <span>#8EFDCA</span>
                    </div>
                </div>
            </div>
            <div class="swiper swiper-wf" data-component="Carousel" data-space="64">
                <h3>Wireframe</h3>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/wfWebjam_univers.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/wfWebjam_oeuvre.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/wfWebjam_souvenir.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/wfWebjam_vedette.png" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/wfWebjam_autre.png" alt="">
                    </div>
                </div>
                <div class="custom-nav custom-nav-gridProjects">
                    <button class="custom-button-prev">
                        <svg class="icon icon--lg">
                            <use href="#icon-leftArrow"></use>
                        </svg>
                    </button>
                    <button class="custom-button-next">
                        <svg class="icon icon--lg">
                            <use href="#icon-rightArrow"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-container">
            <img src="assets/images/webjamWireframe.png" alt="">
        </div>
    </div>
</section>

<section class="coding">
    <svg class="icon deco" data-component="StarAnim" data-inverse data-speed="10">
        <use href="#icon-star"></use>
    </svg>
    <div class="title">
        <h2 data-scrolly="fromRight">02</h2>
        <h3 data-scrolly="fromRight">Intégration</h3>
    </div>
    <div class="wrapper">
        <div class="swiper swiper-shellSound swiper-full" data-component="Carousel" data-space="120px">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/images/webjamCode1.png" alt="">
                    <p>Code HTML/PHP page univers musique</p>
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/webjamCode2.png" alt="">
                    <p>Code PHP single</p>
                </div>
                <div class="swiper-slide">
                    <img src="assets/images/webjamCode3.png" alt="">
                    <p>Code HTML/JS header</p>
                </div>
            </div>
            <div class="custom-nav">
                <button class="custom-button-prev">
                    <svg class="icon icon--lg">
                        <use href="#icon-leftArrow"></use>
                    </svg>
                </button>
                <button class="custom-button-next">
                    <svg class="icon icon--lg">
                        <use href="#icon-rightArrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="final final-webjam">
    <div class="title">
        <h2 data-scrolly="fromRight">03</h2>
        <h3 data-scrolly="fromRight">Final</h3>
    </div>
    <svg class="icon deco-big" data-component="StarAnim" data-speed="8" data-inverse>
        <use href="#icon-cercleStar"></use>
    </svg>
    <div class="wrapper">
        <svg class="icon deco" data-component="StarAnim" data-speed="12">
            <use href="#icon-star"></use>
        </svg>
        <img src="assets/images/mockupWebjamFinal.png" alt="">
    </div>
</section>

{% include '_partials/_footer.html' %}